firebase-debug.log
.vscode/*
.idea
.DS_Store
app/*
node_modules/*
npm-debug.log
database.config.js
jQuery-Drag-drop-Sorting-Plugin-For-Bootstrap-html5sortable/*
splitter-152.js
myscrum-f606c-export.json
jquery.cookie.js
jquery.js